#root {

  margin: 0 auto;
  padding: 2rem;
  background-color: aliceblue;
  color: aliceblue;
  text-align: center;
  width: 500px;
  border-radius: 10px;

}

.formLabelName{
color: rgb(30, 230, 230);
    
}
.radio_button_label.formLabelName{
  color: rgb(0, 0, 0);
}
